nav {
  z-index: 1
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 0;
  height: 100vh;
  box-shadow: 1px 0 10px lightgray;
  overflow-x: hidden;
  transition: 0.5s;
  background: white;
  z-index: 2;
}

.side-nav button {
  background: none;
  border: none;
}

.side-nav .nav-link {
  margin: 5px 0;
  padding-left: 20px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.nav-close {
  height: 50px;
  width: 100%;
  text-align: right;
}

.nav-close #closeBtn {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  width: 50px;
  height: inherit;
  margin: 0;
  padding: 0;
}

.closeBtn {
  margin: 10px 0 5px 0;
  text-align: right;
  font-size: 40px;
}

.top-nav {
  background: inherit;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid white;
  padding: 10px 10px;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  /* opacity: 0.9; */
  /* filter: blur(5px); */
  /* background: wh ite; */
}

/* .top-nav:after {
  box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
  filter: blur(5px);
} */

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 28px;
}

.hamburger-bar {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  /* background: black; */
  height: 8px;
  width: 40px;
}

.navbar-content {
  display: flex;
  /* flex-direction: row; */
}

.navbar-header {
  color: white;
  margin: auto 0px;
  padding-left: 10px;
  /* z-index: 2; */
}

/* @media only screen and (min-width: 450px) {
  .side-nav {
    display: none;
  }
  .top-nav {
    display: none;
  }
} */